Source: parameters
Section: main
Priority: optional
Maintainer: Christian Mayer <christian@fox21.at>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/TheFox/parameters
#Vcs-Git: https://anonscm.debian.org/collab-maint/parameters.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/parameters.git

Package: parameters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Automatic replace variables in configuration file templates from environment variables.
 The parameters program takes an input file template and a given regular expression
 for searching environment variables.  The variables in the template file will be
 replaced by the values of found environment variables by the exact same name.
